<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:score="http://thymeleafexamples">

<head>
    <title>Corona Virus Data Tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div>
    <h1 th:text="${currentDate}"></h1>
    <table>
        <thead>
        <tr>
            <th>Country</th>
            <th>State</th>
            <th>Total Cases today</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="locationStat : ${locationStatsList}">
            <td th:text="|${locationStat.country}"></td>
            <td th:text="${locationStat.state}">NA</td>
            <td th:text="${locationStat.casesForToday}">0</td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>